.phone
{
    background-color: rgb(31, 31, 31);
    height: 74.4rem;
    width: 39rem;
    border-radius: 50px;
    outline: solid 12px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .25s ease-in-out;

    &__display
    {
        height: calc((74.4rem - (5*8.5rem)) - (0.6rem * 5) - 3rem);
        width: 100%;
        display: flex;
        text-align: end;
        text-overflow: ellipsis;
        align-items: end;
        position: relative;

        & > svg
        {
            position: absolute;
            top: 7rem;
            left: 1.2rem;
            width: 3.5rem;
            height: 3.5rem;
            color: rgb(232, 151, 0);
        }

        &--notch
        {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 1.4rem;
            width: 12rem;
            height: 4rem;
            background-color: black;
            border-radius: 100px;
        }

        &--text
        {
            width: 100%;
            font-size: 7rem;
            color: whitesmoke;
            margin: 1rem;
            margin-right: 1.5rem;
        }

        .control
        {
            position: absolute;
            top: 1.4rem;
            left: 50%;
            transform: translateX(-50%);
            width: 85%;
            height: 4rem;
            display: flex;
            color: whitesmoke;
            font-size: 1.6rem;
            align-items: center;

            & > p
            {
                font-size: 1.8rem;
                margin-left: 2rem;
            }

            &--icon
            {
                display: flex;
                margin-left: auto;

                

                & > svg
                {
                    height: 2rem;
                    width: 2rem;
                    margin-right: .8rem;
                }
            }
        }
    }

    &__keyboard
    {
        display: grid;
        grid-template-columns: repeat(4, 8.5rem);
        grid-template-rows: repeat(5, 8.5rem);
        gap: .6rem;
        margin-bottom: 3rem;
    }

    @media (max-width: 500px)
    {
        transform: scale(.75);
    }
}

.button
{
    border-radius: 100px;
    border: none;
    font-size: 3.7rem;
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;

    & > svg
    {
        width: 50%;
        height: 50%;
    }

    @include active-button(rgb(51,51,51));
}

.light-grey
{
    background-color: rgb(100, 100, 100);
    @include active-button(rgb(100,100,100));
}

.orange
{
    background-color: rgb(232, 151, 0);
    @include active-button(rgb(232,151,0));
}